
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

img {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

#app {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

header > h1 {
  display: block;
  width: 87px;
  height: 6vh;
  background-size: contain;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  margin: 3vh 50px 3vh 50px;
  /* border: 1px solid red; */
  float: left;
}

/* 新資訊 */
/*------------------------------------------------------*/
#app > .masterVision {
  /* border: 1px solid red; */
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#app > .masterVision > img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#app > .masterVision > a > .card-1 {
  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: -6vw;
  text-decoration: none;
  width: 12vw;
  height: auto;
  
}


#app > .masterVision > a > .card-1 > h1 {
  text-align: center;
  font-size: 16px;
  border: 1px solid #ffc200;
  background-color: #ffc200;
  color: white;
  line-height: 32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}


#app > .masterVision > a > .card-1 > h3 {
  text-align: left;
  font-size: 0.85rem;
  color: #ffc200;
  word-break: break-all;
  padding: 1vw;
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

/* 行動規劃 */
/*------------------------------------------------------*/
#app > .masterVision {
  /* border: 1px solid red; */
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#app > .masterVision > img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#app > .masterVision > a > .card-2 {
  position: absolute;
  top: 62vh;
  left: 33vw;
  margin-left: -6vw;
  text-decoration: none;
  width: 12vw;
  height: auto;
  
}

#app > .masterVision > a > .card-2 > h1 {
  text-align: center;
  font-size: 16px;
  border: 1px solid #ffc200;
  background-color: #ffc200;
  color: white;
  line-height: 32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

#app > .masterVision > a > .card-2 > h3 {
  text-align: left;
  font-size: 0.85rem;
  color: #ffc200;
  word-break: break-all;
  padding: 1vw;
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

/* 新觀點 */
/*------------------------------------------------------*/
#app > .masterVision {
  /* border: 1px solid red; */
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#app > .masterVision > img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#app > .masterVision > a > .card-3 {
  position: absolute;
  top: 62vh;
  left: 67vw;
  margin-left: -6vw;
  text-decoration: none;
  width: 12vw;
  height: auto;
  
}

#app > .masterVision > a > .card-3 > h1 {
  text-align: center;
  font-size: 16px;
  border: 1px solid #ffc200;
  background-color: #ffc200;
  color: white;
  line-height: 32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

#app > .masterVision > a > .card-3 > h3 {
  text-align: left;
  font-size: 0.85rem;
  color: #ffc200;
  word-break: break-all;
  padding: 1vw;
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

/* 行動 */
/*------------------------------------------------------*/
#app > .masterVision > a > .card-4 {
  position: absolute;
  top: 30vh;
  left: 33vw;
  /* transform-origin: 0 30vw;
  transform:rotate(10deg); */
  margin-left: -6vw;
  text-decoration: none;
  width: 12vw;
  height: auto;
  
}

#app > .masterVision > a > .card-4 > h1 {
  text-align: center;
  font-size: 16px;
  border: 1px solid #159078;
  background-color: #159078;
  color: white;
  line-height: 32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

#app > .masterVision > a > .card-4 > h3 {
  text-align: left;
  font-size: 0.85rem;
  color: #159078;
  word-break: break-all;
  padding: 1vw;
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

/* 發想 */
/*------------------------------------------------------*/
#app > .masterVision {
  /* border: 1px solid red; */
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#app > .masterVision > img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#app > .masterVision > a > .card-5 {
  position: absolute;
  top: 83vh;
  left: 50vw;
  /* transform-origin: 0 30vw;
  transform:rotate(10deg); */
  margin-left: -6vw;
  text-decoration: none;
  width: 12vw;
  height: auto;
  
}

#app > .masterVision > a > .card-5 > h1 {
  text-align: center;
  font-size: 16px;
  border: 1px solid #159078;
  background-color: #159078;
  color: white;
  line-height: 32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

#app > .masterVision > a > .card-5 > h3 {
  text-align: left;
  font-size: 0.85rem;
  color: #159078;
  word-break: break-all;
  padding: 1vw;
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

/* 反思 */
/*------------------------------------------------------*/
#app > .masterVision > a > .card-6 {
  position: absolute;
  top: 30vh;
  left: 67vw;
  /* transform-origin: 0 30vw;
  transform:rotate(10deg); */
  margin-left: -6vw;
  text-decoration: none;
  width: 12vw;
  height: auto;
  
}

#app > .masterVision > a > .card-6 > h1 {
  text-align: center;
  font-size: 16px;
  border: 1px solid #159078;
  background-color: #159078;
  color: white;
  line-height: 32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}

#app > .masterVision > a > .card-6 > h3 {
  text-align: left;
  font-size: 0.85rem;
  color: #159078;
  word-break: break-all;
  padding: 1vw;
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 1px 2px #000;
}


#app-phone {
  display: none;
}


/* RWD */
/*------------------------------------------------------*/
@media screen and (max-width:768px) {
  #app {
      display: none;
  }

  #app-phone {
      display: block;
  }

}

