@import url('./reset.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

img {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

#app {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

header > a >h1 {
  display: block;
  width: 87px;
  height: 6vh;
  background-size: contain;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  margin: 3vh 50px 3vh 50px;
  /* border: 1px solid red; */
  float: left;
}

/*------------------------------------------------------*/
#app > .title {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  background-color: #f6f6f6;
  padding: 5vh;
  /* border: 1px solid red; */
}

#app > .title > img {
    margin-left: 10vw;
    margin-right: -20vw;
    width: 10vw;
    height: 18vh;
    float: left;
  }
  

#app > .title > h1{
    font-size: 48px;
    line-height: 96px;
    color: #159078;
}

#app > .title > h3{
    font-size: 20px;
    line-height: 40px;
    color: #159078;
}
/*------------------------------------------------------*/
#app > .content {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 10vh;
}


#app > .content > h1 {
    font-size: 32px;
    line-height: 64px;
    font-weight: bold;
    color: #159078;
}


#app > .content > p {
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    color: #57b1a1;
}

/*------------------------------------------------------*/
#app > .selfAsk {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 10vh;
    background-color: #f6f6f6;
}


#app > .selfAsk > h1 {
    font-size: 32px;
    line-height: 64px;
    font-weight: bold;
    color: #159078;
}


#app > .selfAsk > p {
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    color: #57b1a1;
}

#app > .selfAsk > ul {
    margin-top: 1vh;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    color: #2c2c2c;
    padding-left: 20vw;
    text-align: left;
}

#app > .selfAsk > ul > li {
    color: black;
    text-decoration: none;
}

#app > .selfAsk > ul > li.important{
    color: #d01120;
    text-decoration: none;
}


#app > .selfAsk > .notice  {
    color: #d01120;
    padding-top: 20px;
    line-height: 5vh;
}

/*------------------------------------------------------*/
#app > .stuck {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 8vh;
}


#app > .stuck > h1 {
    font-size: 32px;
    line-height: 64px;
    font-weight: bold;
    color: #159078;
}


#app > .stuck > ul {
    margin-top: 3vh;
    font-size: 16px;
    line-height: 32px;
    padding-left: 20vw;
    text-align: left;
    color: #2c2c2c;
    text-decoration: none;
}

#app > .stuck > ul > a {
    color: #2c2c2c;
    text-decoration: none;
}

#app > .stuck > ul > a:hover {
    color: #d01120;
    text-decoration: none;
}

/*------------------------------------------------------*/
#app > .footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 8vh;
}

#app > .footer > a{
    border: 1px solid red;
    background-color: #d01120;
    font-size: 20px;
    color: white;
    padding: 25px;
    border-radius: 48.5px;
}

#app-phone {
    display: none;
}


/* RWD */
/*------------------------------------------------------*/
@media screen and (max-width:768px) {
    #app {
        display: none;
    }

    #app-phone {
        display: block;
    }

}